h1{
    text-align: center;
}

.seach{
    text-align: center;
}
#inBlock{
    font-size: 40px;
    color: rgba(5, 145, 233, 0.919);
}
#myInput{
    width: 80%;
    font-size: 20px;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid blue;
    margin-bottom: 12px;
}
    #mytable{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        border: 1px solid grey;
        font-size: 18px;
        text-align: left;
    }
    #mythead{
        text-align: center;
    }
    #mytable td{
        padding: 8px;
    }
    #mytable tr:hover{
        background-color: ivory;
        color: blueviolet;
        transition: .8s;
    }