h1{
    text-align: center;
}

.search{
    text-align: left;
}
#inBlock{
    font-size: 30px;
    color: rgba(5, 145, 233, 0.919);
    font-family: 'Times New Roman', Times, serif;
}
#myInput{
    width: 300px;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(229, 205, 173);
    border: 1px solid blue;
    margin-bottom: 12px;
}
    
#mytable{
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border: 1px solid grey !important;
    font-size: 18px;
    text-align: left;
}

    #mytable td{
        padding: 8px;
    }
    #mytable tr:hover{
        background-color: ivory;
        color: blueviolet;
        transition: .8s;
    }
    #mythead{
        text-align: center;
        color: blue;
        font-weight: bold;
    }



#zone{
    font-size: 40px;
    color: brown;
}
#btnon, #btnoff{
    font-size: 24px;
    color: purple;
    background-color: aqua;
}