body{
    background-color: rgb(204, 244, 204);
}
h1{
    text-align: center;
    font-size: 45px;
    letter-spacing: 25px;
    height: 60px;
    padding: 8px;
    font-family: 'DFKai-sb', 'Microsoft JhengHei', 'Times New Roman', Times, sans-serif, serif;
}

.search{
    text-align: left;
}
#inBlock{
    font-size: 34px;
    color: blue;
    font-weight: 350%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
}
#myInput{
    position: relative;
    top: 1px;
    width: 20%;
    height: 30px;
    font-family: serif, sans-serif,;
    font-size: 28px;
    padding: 10px;
    background-color:cornflowerblue;
    border: 1px solid blue;
    margin-bottom: 1px;
    padding-left: 1px;
}
#emphasize{
    position: absolute ;
    top: 165px;
    left: 3%;
    color: red;
    /* padding-left: 50px; */
}

div{
    /* max-height: 600px;
    overflow: auto; */
}
#mytable{
    width: 65%;    
    /* display: block !important; */
    margin-left: 20px;
    margin-right: auto;
    border: 1px solid grey !important;
    font-size: 16px;
    text-align: left;
}

    #mytable td{
        padding: 3px;
    }
    #mytable tr:hover{
        background-color: ivory;
        color: blueviolet;
        font-weight: bolder;
        transition: .8s;
    }
    #mythead{
        text-align: center;
        font-size: 22px;
        font-family: 'DFKai-sb', sans-serif, serif;
        color: blue;
        font-weight: bolder;
        background-color: darkseagreen;
    }
tbody td{
    text-align: justify;
}


#zone{
    font-size: 40px;
    color: brown;
}
#btnon, #btnoff{
    font-size: 24px;
    color: purple;
    background-color: aqua;
}